<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title || 'IPFS Lite App' %></title>
</head>

<body>
  <script>
    window.addEventListener('load', function () {
      async function main() {
        var { BlockStore, MemoryDatastore, setupLibP2PHost, Peer, Buffer } = window.ipfsLite
        var store = new BlockStore(new MemoryDatastore())
        var host = await setupLibP2PHost(undefined, undefined, [
          `/dns4/ws-star.discovery.libp2p.io/tcp/443/wss/p2p-websocket-star`
        ])
        var lite = new Peer(store, host)
        await lite.start()
        console.log('started!')
        setTimeout(async function () {
          var source = [{
            path: 'bar',
            content: Buffer.from('foo!'),
          }]
          var data = await lite.addFile(source)
          console.log('added file with CID:')
          console.log(data.cid.toString())
          await lite.stop()
          console.log('stopped')
        }, 1000)
      }
      main()
    })
  </script>
</body>

</html>
